
.DS_Store
.ipynb_checkpoints/Data cleaning-checkpoint.ipynb
backup/gen_back copy.csv
backup/gen_back.csv
backup/gen_backup.csv
backup/gen_merge copy.csv
backup/generators.csv
backup/ren_gen.csv
backup/renewables.csv
backup/rts_single_row.csv
